.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header style */

.header{
  background-color: green;
  height: 70px;
}
.cart-div{
  float: right;
  margin: 25px;
  position: relative;
}
.length{
  position: absolute;
  top:-10px;
  right:-10px;
  padding: 5px;
  /* padding: 5px; */
  background-color: red;
  border-radius: 100%;
  line-height: 14px;
  z-index:5;
}
svg{
  font-size: 25px;
}

.product-container{
  display: flex;
  flex-wrap: wrap;
}

.logo{
  float: left;
  color:white;
  margin: 10px;
}
.cartPage{
  display: flex;
  padding: 20px;
}
.cartPage table td{
  border:1px solid black;
}

.cartPage table{
  flex: 0 0 70%;
  border-collapse: collapse;
}

.price-details{
  position: absolute;
  width: 300px;
  margin:auto 50px;
}

.price-details div{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom:1px solid black;
}

.search-box{
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left:50px;
}

.search-box input{
  padding: 8px;
  width: 600px;
}

